@model VibrantInfoTask.Models.LoginViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutLogin";
}

<h1>Forgot Password</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Send link" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Back to <a asp-action="Login">login</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
